main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    grid-area: menua;
}

header {
    grid-template-columns: 50px 100px auto auto; 
    grid-template-areas: 
    '1fr logo hotelName menua';
}

.topContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'showcase showcase topBoxA'
    'showcase showcase topBoxB';
    padding-top: 20px;
    padding-bottom: 20px; 
}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(/assignments/termproject/images/temples/salt-lake/show-case-large.jpg);
    background-size: cover;
    background-position: center;
}

.summaryContainer {
    grid-template-areas: 
    'textBox kirtlandTemple';
    padding: 0px 15px 15px 15px;
    background: rgba(204, 204, 204, 0.4);
    margin:20px 15px;;
}

.kirtlandTemple {
    width: 600px;
    margin-top: 20px;
}

.topBox .btn {
    width: auto;
}

/* Temple page */
.templeTopContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'templeInfo templeImage'
    'templeLocalWeather templeImage'
    'scheduleBox closureInfoBox';
}