header {
    background-color: #ffe343;
    width: 100%;
    height: 300px;
}

#logo {
    float: left;
    display: inline-block;
}

#siteTitle, #subTitle {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

#current {
    float: right;
    display: inline-block;
}