/*Header Styles*/

header {
    background-color: #ffe343;
    position: relative;
    height: 150px;
}

#logo {
    float: left;
    margin: 0;
    margin-left: 2%;
    width: 25%;
    height: 100%;
    
}

#logo img {
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 180px;
}

#current {
    display: none;
    float: left;
    margin: 0;
    margin-top: 15px;
    margin-left: 2%;
    width: 30%;
    height: 80%;
    background: #ffb443;
             
}

#currentImg {
    float: left;
    margin: 0;
    margin-top: 14px;
    margin-left: 5%;
    margin-right: 5%;
    width: 30%;
    height: 75%;
            
}

#currentImg img {
    max-width:100%;
    max-height: 100%;
}

#currentConditions {
    float: left;
    margin: 0;
    margin-top: 14px;
    margin-right: 5%;
    width: 50%;
    height: 75%;
    line-height: .5;
    color: #7e4f04;
    font-size: .75em;
    font-weight: bolder;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    
}

#siteTitle {
    float: left;
    margin: 0;
    text-align: center;
    width: 65%;
    height: 100%;
}

#siteTitle h1, h2 {
    color: #7e4f04;
    
}

#siteTitle h1 {
    font-family: 'Alegreya SC', Times, serif;
    font-size: 2.5em;
    line-height: .5;
}

#siteTitle h2 {
    font-size: 1em;
}

/*Hidden Five Day Forecast*/

#fiveDay {
    display: none;
}

/*Navigation Bar Styles*/

nav ul {
    list-style-type: none;
    padding: 8px;
    margin: 0;
    width: 100%;
    background-color: #d9ff43;
    text-align: center;
}

nav li {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color:#7e4f04;
    padding: 8px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ffa20d;
}

/*Main Area Style*/
main h1 {
    font-family: 'Alegreya SC', Times, serif;
    font-weight: bolder;
    color:#7e4f04;
    text-align: center;
    font-size: 2.5em;
}

main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;  
}

/*Footer Style*/

footer {
    background-color: #ffe343;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#7e4f04;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*Map Style*/

.mapPreston {
    max-width: 100%;
}