/*Header Styles*/

header {
    display: flex;    
    justify-content: center;
    align-items: center;
    background-color: #09143A;    
    height: 150px;    
}

#logo {
    width: 20%;
    height: 70%;
}

#logo img {
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 180px;
}

#current {display: none;}

#siteTitle {
    margin: 0;
    text-align: center;
    width: 70%;
    height: 100%;
}

#siteTitle h1, h2 {
    color: #FCFAF9;
    
}

#siteTitle h1 {
    font-family: 'Alegreya SC', Times, serif;
    font-size: 2.5em;
    line-height: .5;
}

#siteTitle h2 {
    font-size: 1em;
}

/* Responsive Nav*/

.hamburger {
    align-self: flex-end;
    margin: 12px;
    background-color: #FCFAF9;    
    color: black;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
    font-weight: normal;
    font-size: 1.25em;
   
}

/*Navigation Bar Styles*/

.navigation { list-style: none; padding-left: 0; }
.navigation li { display: none; }

.responsiveNav {
    list-style-type: none;
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
    background-color: #09143A;
    text-align: center;
}

.responsiveNav li {
    display: block;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.responsiveNav li a {
    display: block;
    color:#FCFAF9;
    padding: 8px 16px;
    text-decoration: none;
}

.responsiveNav li a:hover {
    background-color: #48E5C2;
    color: black;
    font-weight: bold;
}

/*Main Area Style*/

main h1 {
    font-family: 'Alegreya SC', Times, serif;
    font-weight: bolder;
    color:#09143A;
    text-align: center;
    font-size: 2.5em;
}

main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;  
}

/*Weather Summary Styles*/

.heroSection {
    position: relative;
}

.weatherDetails {
    position: absolute;
    padding: .5em;
    padding-top: 0;
    top: 3px;
    left: 5px;
    background-color: white;
    opacity: .65;
    height: 190px;
}
.weatherDetails h3, table {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    
}

.weatherDetails2 {
    position: absolute;
    padding: .5em;
    padding-top: 0;
    top: 3px;
    left: 5px;
    height: 190px;
}
.weatherDetails2 h3, table {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    
}

/*Hidden Five Day Forecast*/

#fiveDay {
    display: none;
}

/*Footer Style*/

footer {
    background-color: #09143A;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color:#FCFAF9;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*Article Style*/

article {
    padding: 10px;
    position: relative;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;    
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #CDF7EE;
}

article img {
    width: 100%;
    margin-bottom: 10px;
}

article h2 {
    font-family: 'Alegreya SC', Times, serif;
    color: #09143A;
}

/*Map Style*/

#contactInfo {
    padding: 10px;
    position: relative;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;    
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #CDF7EE;
    overflow: auto;
    text-align: center;
}

.contactDetails h3 {
    font-family: 'Alegreya SC', Times, serif;
    color: #09143A;
}

.mapPreston iframe {
    float: left;
    width: 100%;
    height: 400px;
    border: 1px solid #09143A;        
}

.contactDetails {
    clear: both;
}

/*Styles for galery images*/

.picturesContainer {
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 30px;
}

.polaroid {
    padding: 10px;
    width: 250px;
    border: 1.5px solid rgb(125, 125, 125);
    text-align: center;
    cursor: pointer;
    justify-self: center;
}
    
.pictureLabel {
    font-family: 'Permanent Marker', cursive;
    font-size: 1em;
    padding: 25px;
    }
    
.polaroid:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 8px 20px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 37.5em) {
    .picturesContainer {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,.7); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
}

/* Caption of Modal Image */
#modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 30px;
    background-color: #09143A;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    overflow: auto;
}

/* Add Animation */
.modal-content, #modal-caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: .6s;
    animation-name: zoom;
    animation-duration: .6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}