/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 18px; 
    line-height: 32px;
    font-family: Heveltica, Ubuntu, sans-serif;
    color: #1B9AAA;
    background-color: #F5F1E3;
}

a {
    color: #051C1F;
}

h1 {
    font-size: 2.5em;
    color: #F5F1E3;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid #bbb;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1200px;
}

header, footer, footer a {
    text-align: center;
    background-color: #050505;
    color: #FFFFFF;
}

header img {
    width: 300px;
    height: auto;
    float: right;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
}

footer {
    font-size: 1em;
}